{% extends 'main/base.html' %}

{% block content %}
<h3>옵션리스트</h3>
<a href="{% url 'option' %}" type="button" class="btn btn-primary">추가</a>
<a href="{% url 'optionlist' %}" type="button" class="btn btn-secondary">저장</a>
<div class= optionlist>
    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션1</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션2</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션3</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션4</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션5</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션6</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션7</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션8</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션9</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="checkbox" id="switch">
            <label for="exampleFormControlSelect2">옵션10</label>
                <div class="card">
                    옵션명
                </div>
            <label for="exampleFormControlSelect2">가격(원)</label>
                <div class="card">
                    가격
                </div>   
            <button type="button" class="btn btn-primary btn-sm">수정</button>
            <button type="button" class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </div>
</div>      
{% endblock content %}