{% extends 'main/base.html' %} {% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'settingapp/css/sales.css' %}" />
{% endblock css %}

{% block content %}
<div class="flex">
    <div class="calendarbox">
        <div class="my-btn-group">
            <a role="button" class="btn btn-outline-mycolor left" href="{% url 'sales' %}?{{ prev_month }}">이전 달</a>
            <a role="button" class="btn btn-outline-mycolor right" href="{% url 'sales' %}?{{ next_month }}">다음 달</a>
        </div>
        
            {{ calendar }}
        
    </div>    
    <div class="sale">
        <div class="card" style="width: 18rem">
            <h3>년 매출</h3>
            <h1>매출 금액</h1>
        </div>
        <div class="card" style="width: 18rem">
            <h3>월 매출</h3>
            <h1>매출 금액</h1>
        </div>
        <div class="card" style="width: 18rem">
            <h3>일 매출</h3>
            <h1>매출 금액</h1>
        </div>
    </div>

    
</div>
{% endblock content %}
