{% extends 'main/base.html' %}
{% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'menuapp/css/orderdetail.css' %}" />
{% endblock css %}

<!-- 기본 Navbar -->

{% block content %}
<div class="orderdetail">
    <h1>주문 번호 00번 고객님 입니다</h1>
    <div class="ordercard"></div>
        <ol type="1">
            <div class="card" style="width: 18rem">
                <h3>
                    <li class="menu-number">메뉴</li>
                </h3>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
            </div>
            <div class="card" style="width: 18rem">
                    <h3>
                        <li class="menu-number">메뉴</li>
                    </h3>
                    <p class="options">옵션</p>
                    <p class="quantity">수량</p>
                    <p class="take">매장/포장 표시</p>
            </div>
            <div class="card" style="width: 18rem">
                <h3>
                    <li class="menu-number">메뉴</li>
                </h3>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
            </div>
            <div class="card" style="width: 18rem">
                <h3>
                    <li class="menu-number">메뉴</li>
                </h3>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
            </div>
            <div class="card" style="width: 18rem">
                <h3>
                    <li class="menu-number">메뉴</li>
                </h3>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
            </div>
        </ol>
    </div>

    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">이전</a>
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">완료</a>
</div>
{% endblock content %}