{% extends 'main/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'menuapp/css/order.css' %}" />
{% endblock css %}

<!--기본 Navbar -->

{% block content %}
<div class="order">
    <ol type="1">
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <div class="card-board">
                <h2>
                    <li class="card-number">주문번호</li>
                </h2>
                <p class="card-text">메뉴 이름</p>
                <p class="options">옵션</p>
                <p class="quantity">수량</p>
                <p class="take">매장/포장 표시</p>
                <p>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">더보기</a>
                </p>
            </div>
        </div>
    </ol>
</div>

{% endblock content %}
